{% extends 'base.html' %} {% block content %}
<h2>All Homework</h2>
<table class="table table-bordered mt-3">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Subject</th>
      <th>Chapter</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for hw in homeworks %}
    <tr>
      <td>{{ hw.title }}</td>
      <td>{{ hw.subject }}</td>
      <td>{{ hw.chapter_name }}</td>
      <td>
        <a href="{% url 'edit_homework' hw.id %}" class="btn btn-sm btn-primary"
          >Edit</a
        >
        <a href="{% url 'hw_delete' hw.id %}" class="btn btn-sm btn-danger"
          >Delete</a
        >
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No homework available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
